/* 
	vert: #008F4C; 
	beige:#FAF0C5;
*/

* {
	box-sizing: border-box; /* sert à ce que la padding ne fasse pas grossir l'élément, et donc ne fait pas grossir la page */
}

body, button {
	font-family: 'Montserrat', sans serif;
}

h3{
	font-weight: bold;
	font-size: 30px;
}

p{
	padding-top: 10px;
	line-height: 1.7;
}

a{
	text-decoration: none;
	color: inherit;
}

header{
	position: absolute;
    background: #FAF0C5;
    right: 0;
    left: 0;
    top: 0;
    border: 5px #008F4C;
    border-style: none none solid none;
}

header nav {
    padding: 50px 0;

}

header nav .ecusson{
	width: 50px;
	position: absolute;
	top: 8%;
	left: 5%;
}

header nav ul{
	display: flex;
	justify-content: space-around;
	font-size: 21px;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;

}

header nav li{
	color: black;
}

header nav li.active{ /* lorsqu'on est sur une page, dans le menu le li de cette page s'affiche en vert */
	color: #008F4C;
}

header nav li:hover{ 
	color: #008F4C;
	transition: 0.3s;
}

header nav #menuMobile,
header nav ul .cross{
	display: none;
}

header nav .ecusson2{
	width: 50px;
    position: absolute;
    top: 8%;
    right: 5%;
    left: auto;
}

.section {
	padding: 60px 50px;
}

.btn{
	padding: 12px 22px;
	background: #008F4C;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: 17px;
	transition: 0.5s;
	cursor: pointer;
}

.btn:hover{
	background: #64bd94db
}


/************* DIV PHOTO + TITRE *************/



.firstDiv{
	background-image: url("../images/navaq/navaq1.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
    background-position: -786px;
}

.firstDiv h1 {
	color: #FAF0C5;
	font-size: 65px;
	font-weight: bold; 
	position: absolute;
	bottom: 10%;
    left: 6%;
    width: 33%;
}


					/** DIV1 Histoire **/



 .histoire{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	background-color: beige;

 }

 .histoire .hstrTxt{
 	width: 40%;
 }

.histoire .hstrTxt h3{
	width: 50%;
}

.histoire .hstrTxt p{
	width: 70%;
	text-align: justify;
	display: inline-block;

}

.histoire .hstrTxt a{
	display: block;
	padding-top: 20px;
}

.histoire .hstrImg{
	width: 50%;
}

.histoire .hstrImg img{
	width: 100%;
	padding: 30px 0;
}


					/** DIV2 Activités **/


.activités {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #D3D3D3;
}

.activités .actImg{
	width: 40%;
}

.activités img{
	width: 95%;
	padding: 30px 0;
}

.activités .actTxt{
	width: 40%;
	padding: 0 77px;
}

.activités .actTxt a{
	padding-top: 20px;
    display: block;
}


					/** DIV3 Lieux **/


.lieux{
	background-color: beige;
}


.lieux h3{
	text-align: center;
	padding-bottom: 50px;
}

.lieux .lieuxP{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.lieux .lieuxP .pilon,
.lieux .lieuxP .parcNeige { /* Pour que le style s'applique aux deux div */
	width: 40%;
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.lieux .lieuxP .pilon:after, /* rajouter un overlay sur les deux images de "explorez tous les coins du village!" */
.lieux .lieuxP .parcNeige:after{
	content: ""; /* pas de contenu pcq c un overlay*/
	position: absolute;
	top: 0;
	right: 5%;
	bottom: 0;
	left: 5%;
	background: rgba(0,0,0,0.2);
}

.lieux .lieuxP a{
	position: absolute;
    bottom: 6%;
    z-index: 2;
}

.btn2{
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background: none;
	font-size: 18px;
	padding: 5px 15px;
	background: rgba(245,245,220,0.7);
}

.btn2:hover{
	color: green;
	transition: 0.2;
	background-color: beige;
}

.lieux .lieuxP .pilon img,
.lieux .lieuxP .parcNeige img{
	width: 90%;
}


.lieux .btn{
	margin: 0 auto;
	display: block;
	margin: 55px auto 0;

}


					/** DIV4 Fêtes+Asso **/

.doubleDiv{
	background-color: #D3D3D3;
	display: flex;
	justify-content: center;
}

.doubleDiv .miniDiv{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.doubleDiv .miniDiv h3,
.doubleDiv .miniDiv p {
	text-align: center;
	line-height: 1.5;
	padding-top: 0;
	width: 64%;
}


.doubleDiv .miniDiv img{
	width: 75%;
    padding: 25px 0 15px 0;
}


.doubleDiv a{
	padding-top: 20px;
}

/* STYLE APPLIQUÉ A TOUTES LES DIV DES DIFFÉRENTES SECTIONS */

.paddT {
	padding-top: 200px
}

.paddLR{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
}


/************* DEUXIÈME PAGE: HISTOIRE *************/

			/** Informations (1) **/

.infos{
	display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.infos .infosTxt{
	width: 19%
}

.infos .infosImg{
	width: 35%
}

.infos .infosImg img{
	width: 100%;
}

.infosTxt h3{
    padding: 0 0 15px 10px;
}

.infosTxt ul{
	padding-top: 0;
	line-height: 1.7;
}


		/** Signification de l'écusson (2) **/

.signEcu {
	display: flex;
	justify-content: space-evenly;
    align-items: center;

}

.signEcuImg{
	width: 17%;
}

.signEcuImg img{
	width: 90%;
}

.signEcuTxt{
	width: 38%;
	text-align: justify;
}

.ecuTel {
	display: none;
}


		/** L'histoire de Navaquesera (3) **/
.histNavaq{
	padding-top: 20px;
}

.histNavaq p{
	width: 96%;
}

.histNavaq .histNavaqImg1 {
	text-align: center;
    padding: 50px 0;
}

.histNavaq .histNavaqImg1 p{
	padding: 0;
	font-size: 12px;
	font-style: italic;
}


.histNavaq .histNavaqImg2{
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.histNavaq .histNavaqImg2 img{
	width: 30%;
	padding-right: 5px;
}

.histNavaq .imgHistNavaq2{
	display: flex;
	justify-content: center;
	padding: 50px 0;
	align-items: flex-start;

}

.histNavaq .imgHistNavaq2 img{
	width: 80%;
}

.histNavaq .histNavaqTxt2 p{
	text-align: center;
}


.histNavaq .histNavaqImg3 {
	padding-top: 20px;
}

.slick-slide{
	height: auto;
	outline: none;
}

.histNavaqImg3 .slick-prev{
	left: 10%;
}

.histNavaqImg3 .slick-next{
	right: 10%;
}


.histNavaqImg3 .slick-prev,
.histNavaqImg3 .slick-next{
	z-index: 9;
    width: 50px;
    height: 50px;
}

.histNavaqImg3 .slick-prev:before,
.histNavaqImg3 .slick-next:before{
	font-size: 50px;
    line-height: 1.16;
    color: #cccccc;
    opacity: 1;
}

.histNavaq .histNavaqImg3 .slide img{
	display: block;
    margin: 0 auto;
}

.histNavaq .finSlide{
	font-style: italic;
	text-align: center;
	padding: 10px;
}

/************* TROISIÈME PAGE: LIEUX *************/

			/** La place + Mairie (1) **/

.plazaMairie{
	display: flex;
	justify-content: space-around;
}

.plaza, .mairie{
	width: 40%;
}

.plazaMairie .plaza img{
	width: 100%;
}

.plazaMairie .plaza .plaza1{
	padding-top: 50px;
}

.plazaMairie .plaza .plaza2{
	padding-top: 150px;
}

.plaza p{
	text-align: justify;
}

.mairie h3{
	padding-bottom: 10px;
}

.mairie p{
	width: 75%;
	text-align: justify;
	padding-top: 0;
}

.mairie img{
	width: 75%;
	padding-bottom: 10px;
}


				/** Le parc (2) **/

.parc{
	padding-top: 20px;

}

.parc .parcTxt{
	text-align: center;
}

.parc .parcTxt p{
    width: 61%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
}

.parc .parcImg{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.parc .parcImg img{
	width: 45%;
}

				/** El pilón (3) **/

.pilon .pilonTxtImg{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.pilon .pilonTxtImg img{
	width: 30%;
}

.pilon .pilonTxtImg img:first-child{
	padding: 20px 0 20px 50px;
}

.pilon .pilonTxtImg img:last-child{
	padding: 20px 50px 20px 0;
}

.pilonTxtImg .pilonTxt{
	width: 20%;
    text-align: center;
}


.pilon .pilonImg2{
	display: block;
    margin: 0 auto;
    width: 95%;
}



				/** L'église (4) **/

.eglise .egliseTxt{
	text-align: center;
}

.eglise .egliseTxt p{
	padding: 10px 0 20px 0;
}

.eglise .egliseImg {
	display: flex;
	justify-content: center;
	align-items: center;
}

.eglise .egliseImg img{
	width: 45%;
	padding-right: 20px;
}



				/** Rocher plat (5) **/

.rocherPlat .rocherPlatTxt p{
	width: 55%;
	text-align: justify;
}

.rocherPlat .rocherPlatImg1 img{
	width: 55%;
}
.rocherPlat .rocherPlatImg2 img{
	width: 60%;
}

.rocherPlat .rocherPlatImg2{
	text-align: right;
    padding-top: 5px;
}

.rocherPlat .rocherPlatImg2 p{
	padding: 0;
	font-style: italic;
}


				/** El Mirador (6) **/
				/** El Calvario (7) **/

.mirador .miradorTxt,
.calvario .calvarioTxt{
	text-align: center;
}

.mirador .miradorTxt p,
.calvario .calvarioTxt p{
	width: 60%;
	margin: 0 auto;
	padding: 10px 0 20px 0;
}

.mirador img,
.calvario img{
	display: block;
	margin: 0 auto;
	width: 95%;
}



				/** La nava (8) **/

.nava .navaTxtImg1,
.nava .navaTxtImg2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nava .navaTxt1,
.nava .navaTxt2{
	text-align: justify
}

.nava .navaTxt1 h3{
	text-align: center;
}


.nava .navaTxt1 p,
.nava .navaTxt2 p{
	width: 44%;
	margin: 0 auto;
}

.nava .navaTxtImg1 img{
	width: 45%;
}

.nava .navaTxtImg2 img{
	width: 55%;
}


				/** Le spot secret (9) **/

.spot .spotTxt p{
	padding: 10px 0 20px 0;
}



/*********** QUATRIÈME PAGE: ACTIVITÉ ***********/

				/** Pétanque (1) **/

.petanque .petanque1{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.petanque .petanque1 .petanque1Txt{
	padding-bottom: 50px;
}

.petanque .petanque1 .petanque1Txt h3{
	text-align: center;
}

.petanque .petanque1 .petanque1Txt p{
    width: 50%;
    text-align: justify;
    justify-content: center;
    margin: 0 auto;

}

.petanque .petanque1 img{
	width: 50%;
}

.petanque .petanque2{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.petanque .petanque2 p{
	width: 24%;
	text-align: justify;
	display: block;
    margin: 0 auto;
}

.petanque .petanque2 img{
	width: 50%;
}

				/** Basketball (2) **/

.basket .basketImgTxt {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.basket .basketImgTxt .basketImg1{
	width: 50%;
}

.basket .basketImgTxt .basketImg1 img{
	width: 100%;
}

.basket .basketImgTxt .basketTxt{
	width: 30%;
	margin: auto;
}

.basket .basketImgTxt .basketTxt p{
	text-align: justify;
}

.basket .basketImgTxt .basketImg1 p{
	padding: 0;
    font-style: italic;
    text-align: center;
}

.basket .basketImg2 {
    width: 50%;
    margin-left: auto;
}

.basket .basketImg2 img{
	width: 100%;
}

.basket .basketImg2 p{
	padding: 0;
	text-align: center;
}




				/** Football (3) **/

.foot{
	text-align: center;
}

.foot p{
	padding: 10px 0 20px 0;
	text-align: center;
}

.foot .footCdm {
	width: 100%;
	padding: 10px 0 50px 0;
}

.foot .footCdm img:first-child{
	width: 30%;
}

.foot .footCdm img:last-child{
	width: 44%;
}


.foot .footBanc{
	width: 100%
}

.foot .footBanc p{
	padding: 20px 0 10px 0;
}

.foot .footBanc img{
	width: 50%;
	padding: 20px 0;
}


				/** Carrera (4) **/

.carrerra h3{
	padding-bottom: 20px;
}

.carrera .carreraImg1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrera .carreraImg1 img{
	width: 47%;
}

.carrera .carreraTxt{
	padding: 40px 0;
}

.carrera .carreraTxt p{
	width: 80%;
    margin: 0 auto;
    text-align: center;
}

.carrera .carreraImg2{
	width: 100%;
	text-align: center;
}

.carrera .carreraImg2 img{
	width: 45%;
}

.carrera .carreraImg2 img:first-child{
	padding-right: 10px;
}

.carrera .carreraImg2 img:last-child{
	padding-left: 10px;
}




				/** Comida (5) **/

.comida .comidaTxt{
	text-align: center;
	padding-bottom: 20px;

}

.comida .comidaImg{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.comida .comidaImg img:first-child{
	width: 25%;
	padding-right: 5px;
}

.comida .comidaImg img:last-child{
	width: 59%;
}



			/** Jeux enfants (6) **/		
				/** Piscine (7) **/

.jeux .jeuxTxt p{
	width: 35%;
	padding-bottom: 30px;
}

.jeux .jeuxImg,
.piscine .piscineImg{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.jeux .jeuxImg img,
.piscine .piscineImg img{
	width: 45%;
}

.piscineTxt{
	padding-bottom: 30px;
}



				/** El Pantano (8) **/

.pantano .pantanoImg{
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.pantano .pantanoTxt h3{
	text-align: center;
}

.pantano .pantanoTxt p{
	width: 63%;
	padding-bottom: 40px;
	margin: 0 auto;
}

.pantano .pantanoImg img{
	width: 32%;
}




				/** Madrid (9) **/

.madrid p{
	padding: 5px 0 30px 0; 
}

.madrid .PRM{
	font-style: italic;
	float: right;
	padding: 0;
}

				/** Promande (10) **/

.promenade .promenadeAne{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.promenade .promenadeAne p{
	width: 30%;
    padding: 0;
    text-align: justify;
}

.promenade .promenadeAne img{
	width: 20%;
}

.promenade .promenadeTaur{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.promenade .promenadeTaur img{
	width: 42%;
}




/*********** CINQUIÈME PAGE: FÊTES ***********/

.fetes .fetesTxtImg{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.fetes .fetesTxtImg img{
	padding-bottom: 50px;
}

.fetes .fetesTxtImg .fetesTxt h3{
	text-align: center;
}

.fetes .fetesTxtImg .fetesTxt p{
	width: 34%;
	margin: 0 auto;
	text-align: justify;
}

.fetes .fetesPena{
	text-align: center;
	padding-bottom: 30px;
}

.fetes .fetesPena p{
	width: 71%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.fetes .fetesPena img{
	width: 85%;
}
.fetes .fetesDJ p{
	width: 55%;
	padding: 50px 0 45px 0;
	text-align: center;
	margin: 0 auto
}

.fetes .fetesDJ{
	width: 100%;
}

.fetes .fetesDJ img{
	width: 35%;
}

.fetes .fetesDJ .pDJ2{
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
}

.fetes .fetesDJ .pDJ2 p{
	padding: 0 0 30px 0;
	font-style: italic;
}

.fetes .fetesImg1{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.fetes .fetesImg2,
.fetes .fetesImg3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.fetes .fetesImg2 img,
.fetes .fetesImg3 img{
	padding-right: 10px;
}


.fetes .fetesDJ .pDJ3{
	padding: 0;
	font-style: italic;
}

/*********** SIXIÈME PAGE: ASSO ***********/

.association p{
	padding-bottom: 30px;
	width: 45%;
}

.association .assoImg,
.association .assoTxt{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.association .assoImg img{
	width: 45%;
}

.association .assoTxt p{
	width: 45%;
	text-align: center;
}

.association .assoTxt a{
	text-decoration: underline;
}

.association .assoTxt a:hover{
	color: #008F4C;
	font-weight: bold;
}



/*********** FOOTER ***********/

footer{
	background: #606060;
	color: white;
	padding: 50px;
}

footer .footerAll {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .diputacion{
	width: 20%;
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
}

footer .diputacion img{
	width: 40%;
}

footer .diputacion p{
	padding: 0;
}

footer .flaticon ul li{
	padding-bottom: 10px;
	display: flex;
    align-items: center;
}

footer .flaticon ul li a{
	padding-left: 10px;
}

footer .reseaux img{
	padding-right: 50px;
}

footer .moi {
	float: right;
	padding: 0;
}